* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: #001821;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.42;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}
p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

.wrapper__main{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

body,html {
  height: 100%;
}

.header {
  display: flex;
  padding-top: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.heder__col--alighn--right {
  justify-content: flex-end;
}

.logo {
  top: 14px;
  left: 0px;
  margin-right: 80px;
}

.nav__item {
  display: inline;
  text-decoration: none;
  margin-right: 51px;
}

.nav__item:hover {
  color: rgba(218, 1, 0, 1);
}

.nav__item:last-child {
  margin-right: 0;
}

.contacts {
  margin-top: 10px;
  font-style: normal;
  justify-content: flex-end;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.contacts__shadow {
  font-size: 13px;
  text-decoration: underline;
  color: rgba(152, 164, 168, 1);
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.contacts__shadow:hover {
  color: rgba(255, 255, 255, 1);
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 504px;
  margin-bottom: 263px;
}

.hero {
  width: 45%;
}

.hero__tittle {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 21px;
}

.hero__description {
  font-size: 18px;
  margin-bottom: 49px;
}

.btn {
  background-color: #f5170e;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 250px;
  color: #ffffff;
}

.btn:hover {
  background-color: #da0100;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 504px;
}

.tours {
  margin-bottom: 136px;
}

.tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 45px;
}

.tours__list {
  display: flex;
  justify-content: space-between;
}

.tours__list-service {
  margin-bottom: 45px;
}

.tours__item {
  min-height: 90px;
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  width: calc(100% / 3 - 19px);
}

.tours__item--picture {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 8px;
  width: 122px;
  margin-bottom: 26px;
  color: #666666;
  align-items: center;
  font-size: 16px;
}

.tours__item-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 19px;
}

.tours__item--pic {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.tours__item-pic {
  display: flex;
  justify-content: space-between;
}

.calendar__meal {
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.tours__days--meal {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  padding-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.tours__item--picture:last-child {
  margin-right: 0;
}

.tours__content {
  padding: 33px 22px;
  color: #303030;
}

.tours__btn {
  background-color: #f5170e;
  color: white;
  border: 1px solid #f5170e;
  border-radius: 35px;
  padding: 17px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.tours__btn:hover {
  background: white;
  color: #da0100;
}

.news__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.news {
  margin-bottom: 55px;
}

.news__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.single-news {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.news__item {
  margin-right: 2%;
  width: 568px;
  height: 394px;
  position: relative;
  flex: 1;
}

.news__item:last-child {
  margin-right: 0px;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single--news__date {
  margin-bottom: 12px;
}

.single--news__title {
  font-weight: 700;
  font-size: 24px;
}

.single--news__desc {
  font-size: 16px;
}

.single-news__text--content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 30px;
  min-height: 140px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 149px;
}

.paginator-list,
.paginator_display {
  display: flex;
  justify-content: center;
}

.paginator_display {
  margin-right: 36px;
}

.paginator__item {
  text-align: center;
}

.paginator__item:hover {
  background: #ffffff;
  color: #f5170e;
  border-radius: 40px;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

/* .about {
  margin-bottom: 98px;
  display: flex;
}

.about__img{

}


.about__team {
  background: url(./img/mountains.png) no-repeat;
  width-max: 785px;
  height: 455px;
  margin-top: -412px;
  margin-left: 352px;
  color: #060606;
  position: absolute;
  display: block;
  border-radius: 5px;
  padding: 70px 80px;
}

.about__team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 40px;
  
}

.about__team--text {
  font-size: 16px;
  margin-bottom: 59px;
  margin-right: 124px;
  font-weight: 400;
  line-height: 27px;
}

.about__team--text p {
  margin-bottom: 20px;
}

.about__team--text p:last-child {
  margin-bottom: 0px;
}

.about__team-img {
  display: block;
  height: 455px;
  width: 785px;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
  position: relative;
} */

.about:before,
.about__team {
  border-radius: 5px;
}

.about {
  margin-bottom: 56px;
  display: flex;
}

.about:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url(./img/gates.png) center center / cover no-repeat;
}

.about__team {
  background: url(./img/mountains.png) no-repeat;
  padding: 70px 80px;
  width: 785px;
  height: 455px;
  margin-left: -140px;
  margin-top: 96px;
}

.about__team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 37px;
}

.about__team--text {
  font-size: 16px;
  margin-bottom: 62px;
  line-height: 27px;
  width: 502px;
}

.about__team--text p:last-child {
  margin-bottom: 0;
}

.footer-conteiner {
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.footer {
  position: relative;
  margin-top: px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.footer-conteiner{
  margin-top: auto;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--alighn--right {
  align-items: flex-end;
}

.contacts__description {
  font-size: 11px;
  color: #9a9a9a;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials {
  margin-right: 70px;
  top: 22px;
  right: 260px;
}

.social__item--icon-tg {
  background-image: url(./img/telegram.png);
}

.social__item--icon-tg:hover {
  background-image: url(./img/t.png);
}

.social__item--icon-vk {
  background-image: url(./img/vk.png);
}

.social__item--icon-vk:hover {
  background-image: url(./img/vk\ 1.png);
}

.social__item--icon-fec {
  background-image: url(./img/f.png);
}

.social__item--icon-fec:hover {
  background-image: url(./img/f2.png);
}

.social__item--icon-insta {
  background-image: url(./img/in.png);
}

.social__item--icon-insta:hove r {
  background-image: url(./img/in\ 1.png);
}

.contacts__description {
  display: flex;
  justify-content: end;
}

.footer-conteiner__content {
  margin-top: 29px;
  position: relative;
}

.wrapper__main {
  background: url(./img/1.png) center top no-repeat,
    url(./img/2.png) right 30px bottom 160px no-repeat;
  overflow: hidden;
}
